.container {
    height: 120vh; /* 设置容器的高度为视口高度 */
    overflow: auto; /* 添加滚动条 */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: gray;
}

::-webkit-scrollbar-track {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.blackbox{
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 210px;
    height: 75px;
    padding: 2px;
    left:10%;
    right: 35%;
    position: absolute;
    top: 0%
    
    
}
.blackbox p{
    font-size: 20px;
    position: absolute;
    left: 10%;
}  

.whitebox{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    color: black;
    box-sizing: border-box;
    width: 210px;
    height: 75px;
    padding: 2px;
    left:10%;
    right: 35%;
    position: absolute;
    top: 75px
    
}

.whitebox a{
    text-decoration: none;
    font-size: 15px;
}

.Aal{
    position: absolute;
    min-width: auto;
    top: 20px;
    left: 40%;
    right: 30%;
}

.Aal p{
    font-size: 27px;
}

.jieshao{
    border-style: solid;
    border-width: 1px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    width: 210px;
    height: 700px;
    left:10%;
    right: 35%;
    position: absolute;
    top: 200px;
}

.jieshao img{
    position: absolute;
    margin-top: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.jieshao details{
    position: absolute;
    padding: auto;
    margin-left: 1;
    margin-top: 130px;
    font-size: 20px;
    
}
.jieshao details summary{
    list-style: none;
    font-size: 20px;
    color: rgb(96, 95, 160);
}
.jieshao details p{
    font-size: 15px;
    padding: auto;
    margin: 20px 20px;
}
.lianxi{
    position: absolute;
    margin-top: 450px;
    right: 20px;
}
.lianxi li{
    list-style-type: none;
}
.lianxi a{
    text-decoration: none;
}

.jieshao h4{
    position: absolute;
    margin-left: 70px;
    margin-top: 110px;
    font-size: 15px;
}

.winter {
    background-image: url(1920px-SnowMix.jpg);
    background-size: cover;
    color: red;
    text-align: center;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    padding: 2px;
    left: 30%;
    right: 30%;
    position: absolute;
    top: 170px;
    transition: all 0.3s ease; /* 添加过渡效果，使变化更平滑 */
}

.winter:hover {
    opacity: 0.5; /* 设置半透明度 */
}

.winter h2{
    color: #e36666;
    text-shadow: -0.3px -0.2px 0.1px #5576b8, 1px 1px 1px #4967ac;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
}

.spring{
    transition:all 0.3s ease;
    background-image: url(1920px-私は、私達は_BGP.jpg);
    background-size: cover;
    color: red;
    text-align: center;
    box-sizing: border-box;
    width: 500px;
    height: 300px;
    padding: 2px;
    left: 30%;
    right: 30%;
    position:absolute;
    top: 550px
    
    
}

.spring:hover {
    opacity: 0.5; /* 设置半透明度 */
}

.spring h2{
    color: #6f7070;
    text-shadow: -0.4px -0.4px 0.4px #5bcd59, 0.4px 0.4px 0.4px #5bcd59;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
}

@media (max-width: 1360px) {
    .blackbox,.whitebox,.jieshao {
        display: none; /* 当视口宽度小于等于600像素时隐藏元素 */
    }
}

.shigong{
    position: absolute;
    font-size: 120px;
    top: 10%;
    left: 30%;
    right: 50px;

}

.Monday{
    background-color: #5b9696; /* 设置背景渐变色 */
    display: inline-block;
    width: 800px;; /* 可根据需要调整填充值 */
    height: 50px;
    color: rgb(223, 226, 35); /* 设置文字颜色为黄色 */
    top: 200px;
    left: 30%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    

}
.Monday img {
    width: 100px; /* 设置图片宽度为200像素 */
    height: auto; /* 让高度根据宽度自适应，保持比例 */
  }
img.zmlc{
    position: absolute;
    left: 0px;
    top: 50px;
}
a.zmlc{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: black;
    color: white;
    position: absolute;
    padding: 5px;
    left: 0px;
    top: 191.5px;
    width: 88px;
    height: 30px;
    font-size: 12px;
    text-decoration: none;
}
.Tuesday{
    background-color: #ee2121; /* 设置背景渐变色 */
    display: inline-block;
    width: 800px;; /* 可根据需要调整填充值 */
    height: 50px;
    color: rgb(35, 137, 226); /* 设置文字颜色为黄色 */
    top: 500px;
    left: 30%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    

}

.Wednesday{
    background-color: #3439d9; /* 设置背景渐变色 */
    display: inline-block;
    width: 800px;; /* 可根据需要调整填充值 */
    height: 50px;
    color: rgb(226, 70, 35); /* 设置文字颜色为黄色 */
    top: 800px;
    left: 30%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    

}

.Thursday{
    background-color: #0d580b; /* 设置背景渐变色 */
    display: inline-block;
    width: 800px;; /* 可根据需要调整填充值 */
    height: 50px;
    color: rgb(194, 35, 226); /* 设置文字颜色为黄色 */
    top: 1100px;
    left: 30%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    

}

.Friday{
    background-color: #c9eb43; /* 设置背景渐变色 */
    display: inline-block;
    width: 800px;; /* 可根据需要调整填充值 */
    height: 50px;
    color: rgb(35, 41, 226); /* 设置文字颜色为黄色 */
    top: 1400px;
    left: 30%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    

}

.Saturday{
    background-color: #e22222; /* 设置背景渐变色 */
    display: inline-block;
    width: 800px;; /* 可根据需要调整填充值 */
    height: 50px;
    color: rgb(9, 91, 23); /* 设置文字颜色为黄色 */
    top: 1700px;
    left: 30%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    

}
.Saturday img {
    width: 100px; /* 设置图片宽度为200像素 */
    height: auto; /* 让高度根据宽度自适应，保持比例 */
  }
img.ywsm{
    position: absolute;
    left: 0px;
    top: 50px;
}
a.ywsm{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: black;
    color: white;
    position: absolute;
    padding: 5px;
    left: 0px;
    top: 191.5px;
    width: 88px;
    height: 30px;
    font-size: 12px;
    text-decoration: none;
}

.Sunday{
    background-color: #5b9696; /* 设置背景渐变色 */
    display: inline-block;
    width: 800px;; /* 可根据需要调整填充值 */
    height: 50px;
    color: rgb(223, 226, 35); /* 设置文字颜色为黄色 */
    top: 2000px;
    left: 30%;
    position: absolute;
    text-align: center;
    font-size: 20px;
    

}